#editor{
    width: 100%;
    padding: 8px;
    margin: 8px;
    overflow-y: auto;
}

.editor-bounded{
    max-height: 600px;
}

div{
    margin: 8px;
    padding: 8px;
}

.source {
    max-height: 200px;
    width: 100%;
    padding: 8px;
    margin: 8px;
    overflow-y: auto;
    overflow-x: auto;
}

.extra-hide {
    display: none;
}

.head-expanded{
    display: block;
}

.sketchpad, .verbatim{
    resize: both;
    overflow: scroll;
}